<settings>
  <category label="Defenições">
    <setting id="Tp Vista" type="select" label="Tipo de Vista" values="Miniatura|Amplo|Lista Grande|Lista" default="Miniatura" />
	<setting id="ntb" type="select" label="Browser do Openload (Windows)" values="Mozilla Firefox|Google Chrome" default="Mozilla Firefox" />
	<setting id="paginas" type="slider" label="Quantidade De Páginas a Carregar" default="2" range="1,5" option="int" />
	<setting id="sleep" type="slider" label="Sleep (Segundos)" default="2" range="1,5" option="int" />
  </category>
  <category label="Legendas">
	<setting id="subtitles" type="bool" label="Legendas Activas" default="true"/>
	<setting type="sep"/>
	<setting id="sublang1" type="select" label="Idioma Principal" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-2,false)" visible="!eq(-2,false)" default="Portuguese"/>
	<setting id="sublang2" type="select" label="Idioma Secundário" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-3,false)" visible="!eq(-3,false)" default="Portuguese(Brazil)"/>	
	<setting type="lsep" label="[CR]"/>
	<setting type="lsep" label="As legendas podem não estar disponíveis ou fora de sincronismo." visible="!eq(-5,false)" />
	<setting type="lsep" label="Nesse caso aconselhamos o uso de legenda própria, ou sincronismo manual." visible="!eq(-6,false)" />
  </category>	
</settings>
